#root {
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
}

.templatesDiv {
  max-height: 80vh;
  overflow: auto;
}

.banner {
  padding-top: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;

   img {
    height: 60px;
   }


   h1 {
    color: hsl(252, 89%, 66%);
    font-weight: bolder;
    text-shadow: 2px 2px 4px grey;
   }

   .logosms {
    margin: -10px 0 0 5px;
    // border: 1px solid gray;
    transform: rotate(-20deg);
   }
   
}


